@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.navreact{
    /* Vector 2 */

position: absolute;
width: 1123px;
height: 836px;
left: 225px;
top: -12px;


}

.navbarimage2 {
position: absolute;
width: 694px;
height: 571px;
left: 655px;
top: 130px;

}

.btn {
    /* Rectangle 3 */

    width: 163px;
    height: 55px;

    background-color: #ED652B;
    color: white;
    border-radius: 10px;
}


.navbarFirstHeading {
    /* WE MAKE COMMERCIAL SENSE */

    /* position: absolute; */
    width: 270px;
    height: 22px;
    left: 120px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #3989C9;


}


.navbar2ndHeading {
    /* Leading commercial vehicle specialists for over 40 years */

    /* position: absolute; */
    width: 505px;
    height: 174px;
    /* left: 120px; */
    /* top: 249px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;

    color: #000333;


}

@media (max-width: 767px) {
    .navbar2ndHeading {
        width: 331px;
        height: 129px;
        font-size: 30px;
        /* Adjust the font size for small screens */
        line-height: 42px;
        /* Adjust the line height for small screens */
    }
}


.para {
    /* We’re specialists in Commercial Fleet Management, Vehicle sourcing, servicing and maintenance and we operate Nationwide. We cater to everything from individual vehicle sale, supplying entire business fleets to comprehensive maintenance management. */

    /* position: absolute; */
    width: 498px;
    height: 120px;
    left: 121px;
    top: 437px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    color: #444444;


}

@media (max-width: 767px) {
    .para {
        /* position: absolute; */
        width: 331px;
        height: 104px;
        left: 22px;
        top: 561px;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        /* or 21px */

        color: #444444;

    }
}



.navbtns {
    border-radius: 10px;
    color: white;
}