@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.bg{
    background-color: rgba(0, 3, 51);
    /* Group 537 */

/* position: absolute; */
}

/* ABOUT PVS GROUP LTD */
.about{
color: #3989C9;

left: 200px;
top: 70px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

/* identical to box height */

/* border: 1px solid #000000; */
}

.abouthead{
    /* We’ve expanded */

left: 200px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 46px;
/* identical to box height */

color: #FFFFFF;
}

.aboutpara{


left: 200px;
top: 200px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

color: #F1F3F6;
}

.aboutbtn{
    /* Group 540 */

    position: absolute;
    
    background: #3989C9;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: #FFFFFF;


}


.aboutparaimage{
position: absolute;
width: 489px;
height: 335px;
}

